@use "../variables" as *;

.mat-drawer.sidebarNav {
  width: $sidenav-desktop;
  flex-shrink: 0;
  transition: swift-ease-out(width);
  position: absolute;
  overflow-x: hidden;
  border-right: 1px solid $borderColor;
  border-radius: 0px !important;
}

.branding {
  padding: 20px;
}

.sidebar-list {
  &.mdc-list {
    padding: 0 24px;

    .mdc-list-group__subheader {
      margin: 12px 0;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
      margin-top: 24px;
    }

    .menu-list-item {
      height: 45px;
      padding: 4px 6px !important;
      margin-bottom: 2px;

      &:before,
      &:focus {
        z-index: -1;
      }


      .item-chip {
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
      }

      &.activeMenu {
        background-color: var(--mat-sys-primary);

        .mdc-list-item__primary-text {
          color: $white !important;
        }

        .mat-mdc-list-item-icon {
          color: $white !important;
        }
      }

      .mdc-list-item__start {
        margin-right: 14px;
        margin-left: 0 !important;
        width: 20px;
        height: 20px;
        line-height: 0px;
        fill: transparent !important;
      }

      .mdc-list-item__primary-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow-icon {
          display: flex;
          gap: 2px;

          .mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-drawer.sidebarNav {
  width: 250px;
  flex-shrink: 0;
  transition: swift-ease-out(width);
  position: absolute;
  overflow-x: hidden;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0!important
}

.branding {
  padding: 20px
}

.sidebarNav-mini .sidebarNav {
  width: 70px
}

.sidebarNav-mini .sidebarNav .profile-bar {
  display: none
}

.sidebarNav-mini .sidebarNav .sidebar-list .menu-list-item {
  padding: 8px 17px
}

.sidebarNav-mini .sidebarNav .sidebar-list .menu-list-item .mdc-list-item__content {
  display: none
}

.sidebarNav-mini .sidebarNav .sidebar-list .menu-list-item .mdc-list-item__start {
  margin-left: 6px!important;
  margin-right: 8px!important
}

.sidebarNav-mini .sidebarNav:hover {
  width: 250px
}

.sidebarNav-mini .sidebarNav:hover .profile-bar {
  display: block
}

.sidebarNav-mini .sidebarNav:hover .sidebar-list .menu-list-item {
  padding: 8px 10px
}

.sidebarNav-mini .sidebarNav:hover .sidebar-list .menu-list-item .mdc-list-item__content {
  display: inline
}

.sidebarNav-mini .sidebarNav:hover .sidebar-list .menu-list-item .mdc-list-item__start {
  margin-left: 0!important
}

.sidebarNav-mini .sidebarNav:hover .sidebar-list.mdc-list {
  padding: 0 24px;
  max-width: 270px
}

.sidebarNav-mini .sidebarNav:hover .sidebar-list.mdc-list .mdc-list-group__subheader {
  text-align: left
}

.sidebarNav-mini .hideMenu {
  overflow: hidden;
  width: 80px
}

.sidebarNav-mini .branding {
  width: 65px;
  overflow: hidden
}

.sidebarNav-mini .sidebar-list.mdc-list {
  padding: 0 12px
}

.sidebarNav-mini .sidebar-list.mdc-list .mdc-list-group__subheader {
  text-align: center
}

.sidebarNav-mini .contentWrapper {
  transition: swift-ease-out(width)
}

@media (min-width: 1024px) {
  .sidebarNav-mini .contentWrapper {
      margin-left:80px!important
  }
}