<div class="background-container"></div>
<div class="container">    
    <div class="form-container">
        <div class="form-box">
            <h1>Sign in to your account</h1>
            <p>Use your credentials to access your account</p>
            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" placeholder="Enter your email" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter your password" required />
                </div>
                <div class="options">
                    <label><input type="checkbox" /> Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>
                <button type="submit" class="btn">Sign In</button>
            </form>
            <div class="signup-link">
                Don't have an account? <a href="#">Sign up</a>
            </div>
        </div>
    </div>
    <div class="illustration">
        <img src="../../../../assets/images/backgrounds/gradient-ssl-illustration.png" alt="Login Illustration" />
    </div>
</div>